.main-content{
  .row.parent{
    max-width: 960px;
    margin: 0 auto;
  }
}
@mixin steps_logic{
  overflow: hidden;
  .step-col{
    width: 20%;
    span{
      display: block;
    }
    .animator{
      position: relative;
      top: 0;
      z-index: 1;
      .img{
        height: 100%;
        pointer-events: none;
        position: relative;
        z-index: 1;
        i{
          color: $red-color;
          font-size: 16px;
        }
      }
      .info{
        span:nth-of-type(1){
          min-height: 45px;
        }
        position: relative;
        bottom: 5px;
      }
      &:hover{
        top: -160px;
      }
      -moz-transition: top 1s ease-in-out;
      -ms-transition: top 1s ease-in-out;
      -o-transition: top 1s ease-in-out;
      -webkit-transition: top 1s ease-in-out;
      transition: top 1s ease-in-out;
    }
  }
}

/*progressbar*/
div.row.progressbar-container{
  background: rgb(250, 247, 247);
  margin-bottom: 20px;
  padding-top: 15px;
  position: relative;
  z-index: -10;

  .breadcrumb-bar{
    margin: 10px auto;
    text-align: center;

      span{
        color: $border-color;
        font-weight: 600;
        &.done{
          color: $green-color;
        }
        &.next{
          color: $red-color;
        }
      }

      .bar-container{
        position: relative;

        ul#progressbar {
          margin: 0;

          span.done{
            color: $green-color;
          }
          span.next{
            color: $red-color;
          }
          li{
            list-style-type: none;
            color: white;
            text-transform: uppercase;
            font-size: 9px;
            width: 25%;
            float: left;
            position: relative;
            .fa{
              background: $white-color;
              color: $border-color;
              position: relative;
              top: 3px;
            }
            hr{
              position: relative;
              bottom: 30px;
              left: 120px;
              z-index: -5;
              border: 2px solid $border-color;
            }
            &.done{
              .fa{
                color: $green-color;
              }
              hr{
                border-color: $green-color;
              }
            }
            &.next{
              .fa{
                color: $red-color;
              }
              hr{
              }
            }
          }
        }
      }
    }
  }
  button.common-full-button{
    @include transparency(1, $red-color);
    width: 100%;
    font-size: 18px;
  }
  button.common-empty-button{
    border: 1px solid $red-color;
    background: $white-color;
    color: $red-color;
    width: 100%;
    font-size: 18px;
    &:hover{
      background: $red-color;
      color: $white-color;
    }
  }

  .right-bring-up-a-friend-container{
    margin-top: 20px;
    .bring-up-a-friend{
      span{
        display: block;
      }
      .title{
        color: $black-color;
      }
      img{
        padding: 15px 0;
      }
      .social-network-friends{
        text-align: left;
        padding-top: 10px;
      }
      .small-menu{
        text-align: left;
        ul{
          span{
            display: inline;
          }
          margin: 0;
          img{
            padding: 0 10px 0 0;
          }
          li{
            margin: 10px 0;
            &.facebook a{
              color: $facebook-color;
            }
            &.google a{
              color: $google-color;
            }
            &.yahoo a{
              color: $yahoo-color;
            }
            a{
            }

          }
        }
      }
      .friend-email-submition{
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;
        margin: 20px 0;
        button{
          border: 2px solid $red-color;
          font-size: 15px;
          font-weight: 500;
          margin: 0;
          padding: 5px 0;
        }
      }
    }
  }
  .right-body-mass-index-container{
    span{
      display: block;
    }
    .title{
      color: $black-color;
      padding-bottom: 10px;
      &.result{
        color: $font-color;
        padding: 5px 0;
        font-weight: 500;
      }
    }
    button.common-empty-button{
      border: 2px solid $red-color;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      padding: 5px 0;
    }
  }
