<?xml version="1.0"?>
<config> 
    <modules>
        <Interactiv4_ServiRedPro>
            <version>3.0.0</version>
        </Interactiv4_ServiRedPro>
    </modules>
    <global>
        <sales>
            <order>
                <statuses>
                    <servired_pending translate="label">
                        <label>Servired - Pago No Confirmado</label>
                    </servired_pending>
                    <servired_ok translate="label">
                        <label>Servired - Pago Ok</label>
                    </servired_ok>                 
                </statuses>
                <states>
                    <pending_payment translate="label">
                        <statuses>
                            <servired_pending />
                        </statuses>
                    </pending_payment>
                    <processing>
                        <statuses>
                            <servired_ok />
                        </statuses>
                    </processing>
                </states>
            </order>
        </sales>
        <models>
            <serviredpro>
                <class>Interactiv4_ServiRedPro_Model</class>
                <resourceModel>serviredpro_mysql4</resourceModel>
            </serviredpro>
            <serviredpro_mysql4>
                <class>Interactiv4_ServiRedPro_Model_Mysql4</class>
                <entities>
                    <serviredpro_refund>
                        <table>serviredpro_refunds</table>
                    </serviredpro_refund>
                    <serviredpro_transaction>
                        <table>serviredpro_transactions</table>
                    </serviredpro_transaction>
                    <serviredpro_notification>
                        <table>serviredpro_notifications</table>
                    </serviredpro_notification>
                </entities>
            </serviredpro_mysql4>
        </models>
        <resources>
            <serviredpro_setup>
                <setup>
                    <module>Interactiv4_ServiRedPro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </serviredpro_setup>
            <serviredpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </serviredpro_write>
            <serviredpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </serviredpro_read>
        </resources>
        <helpers>
            <serviredpro>
                <class>Interactiv4_ServiRedPro_Helper</class>
            </serviredpro>
        </helpers>
        <blocks>
            <serviredpro>
                <class>Interactiv4_ServiRedPro_Block</class>
            </serviredpro>
	    	<!--<checkout>
		    	<rewrite>
  					<onepage>Interactiv4_ServiRedPro_Block_Checkout_Onepage</onepage>
  				</rewrite>
	    	</checkout>-->
            <adminhtml>
                <rewrite>
                    <sales_order_payment>Interactiv4_ServiRedPro_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <crontab>
        <jobs>
            <checkemailnotifications>
                <run>
                    <model>serviredpro/cron_checkemailnotifications::checkEmailNotifications</model>
                </run>
            </checkemailnotifications>        
        </jobs>
    </crontab>    
    <admin>
        <routers>
            <serviredpro>
                <use>admin</use>
                <args>
                    <module>Interactiv4_ServiRedPro</module>
                </args>
            </serviredpro>
        </routers>
    </admin>
    <frontend>
        <secure_url>
            <serviredpro>/serviredpro</serviredpro>
        </secure_url>
        <routers>
            <serviredpro>
                <use>standard</use>
                <args>
                    <module>Interactiv4_ServiRedPro</module>
                    <frontName>serviredpro</frontName>
                </args>
            </serviredpro>
        </routers>
        <translate>
            <modules>
                <Interactiv4_ServiRedPro>
                    <files>
                        <default>Interactiv4_ServiRedPro.csv</default>
                    </files>
                </Interactiv4_ServiRedPro>
            </modules>
        </translate>
        <layout>
            <updates>
                <i4serviredpro>
                    <file>i4serviredpro.xml</file>
                </i4serviredpro>
            </updates>
        </layout>
        <events>
            <!-- Hooking to Magento's default event "controller_action_predispatch" -->
            <controller_action_predispatch>
                <observers>
                    <i4servired_controller_action_before>
                        <class>serviredpro/observer</class>
                        <method>unsetI4ServiredCookie</method>
                    </i4servired_controller_action_before>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Interactiv4_ServiRedPro>
                    <files>
                        <default>Interactiv4_ServiRedPro.csv</default>
                    </files>
                </Interactiv4_ServiRedPro>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <serviredpro>
                <model>serviredpro</model>
                <active>1</active>
                <model>serviredpro/standard</model>
                <prefijo>001</prefijo>
                <title>ServiredPro </title>
                <allowspecific>0</allowspecific>
                <order_status>pending</order_status>
                <redirect_status>pending</redirect_status>
                <payment_action>Sale</payment_action>
                <error_status>canceled</error_status>
                <sendmailorderconfirmation>1</sendmailorderconfirmation>
                <urlservired>1</urlservired>
                <autoinvoice>O</autoinvoice>
                <transaction_type>O</transaction_type>
                <signaturetype>2</signaturetype>
                <merchanturlok>/checkout/onepage/success/</merchanturlok>
                <checkoutmessage>Se le redirigira a la pasarela de pago en el paso final del checkout</checkoutmessage>
                <redirectmsg>You will be redirected to the ServiRed website in a few seconds.</redirectmsg>
                <redirecttimeout>3000</redirecttimeout>
                <bank>default</bank>
                <serviceurloverride>default</serviceurloverride>
                <banksettings>
                    <default>
                        <serviceurl>sermepa</serviceurl>
                    </default>
                    <lacaixa>
                        <serviceurl>redsys</serviceurl>
                    </lacaixa>
                    <santander>
                        <serviceurl>redsys</serviceurl>
                    </santander>
                    <deutschebank>
                        <serviceurl>redsys</serviceurl>
                    </deutschebank>
                    <barclays>
                        <serviceurl>redsys</serviceurl>
                    </barclays>
                    <cajamar>
                        <serviceurl>redsys</serviceurl>
                    </cajamar>
                    <ing>
                        <serviceurl>redsys</serviceurl>
                    </ing>
                    <bankinter>
                        <serviceurl>redsys</serviceurl>
                    </bankinter>
                    <cajarural>
                        <serviceurl>redsys</serviceurl>
                    </cajarural>
                    <banesto>
                        <serviceurl>redsys</serviceurl>
                    </banesto>
                </banksettings>
                <serviceurl>
                    <sermepa>
                        <productionurl>https://sis.sermepa.es/sis/</productionurl>
                        <testurl>https://sis-t.sermepa.es:25443/sis/</testurl>
                    </sermepa>
                    <redsys>
                        <productionurl>https://sis.redsys.es/sis/</productionurl>
                        <testurl>https://sis-t.redsys.es:25443/sis/</testurl>   
                    </redsys>                            
                </serviceurl>
                <sslversion>3</sslversion>
                <devpassword>qwertyasdf0123456789</devpassword>
           </serviredpro>
           <serviredproemailnotification>     
                <checknotificationemail>0</checknotificationemail>
                <checknotificationfrequency>*/5 * * * *</checknotificationfrequency>
                <protocol>POP3</protocol>
                <port>110</port>
                <security>0</security>
                <attempts>5</attempts>
                <expectedsenderemail>sermepa.es, redsys.es</expectedsenderemail>
                <orderstatus>servired_no_email_notification</orderstatus>
           </serviredproemailnotification>
           
        </payment>
    </default>
</config>
