<?xml version="1.0"?>
<config>
  <modules>
    <Recomiendo_Cms>
      <version>0.1.0</version>
    </Recomiendo_Cms>
  </modules>

  <admin>
    <routers>
      <cms>
        <use>admin</use>
        <args>
          <module>Recomiendo_Cms</module>
          <frontName>cms</frontName>
        </args>
      </cms>
      <adminhtml>
        <args>
          <cms>
            <slideshow_options before="Mage_Adminhtml">Recomiendo_Cms_Adminhtml</slideshow_options>
          </cms>
        </args>
      </adminhtml>
    </routers>
  </admin>

  <adminhtml>
    <menu>
      <ma2 translate="title" module="cms">
        <title>Recomiendo CMS</title>
        <sort_order>70</sort_order>
        <children>
          <slideshow_manager translate="title" module="cms">
            <title>Carousel</title>
            <sort_order>1</sort_order>
            <children>
              <items translate="title" module="cms">
                <title>Gestionar Slides</title>
                <sort_order>1</sort_order>
                <action>cms/adminhtml_slideshow</action>
              </items>
              <config translate="title" module="cms">
                <title>Configuracion General del Carousel</title>
                <sort_order>2</sort_order>
                <action>adminhtml/system_config/edit/section/slideshow_options</action>
              </config>
            </children>
          </slideshow_manager>
          <recipes_and_baskets_manager translate="title" module="cms">
            <title>Cestas y Recetas</title>
            <sort_order>2</sort_order>
            <recipes_and_baskets translate="title" module="cms">
              <title>Gestionar Cestas y Recetas</title>
              <sort_order>1</sort_order>
              <action>cms/adminhtml_baskets</action>
            </recipes_and_baskets>
          </recipes_and_baskets_manager>
        </children>
      </ma2>
    </menu>

    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <ma2>
              <title>Recomiendo CMS</title>
              <sort_order>70</sort_order>
              <children>
                <slideshow_manager>
                  <title>Recomiendo CMS</title>
                  <sort_order>2</sort_order>
                  <children>
                    <items>
                      <title>Gestionar Slides</title>
                      <sort_order>1</sort_order>
                    </items>
                    <config>
                      <title>Configuracion General del Carousel</title>
                      <sort_order>2</sort_order>
                    </config>
                  </children>
                </slideshow_manager>
              </children>
            </ma2>
            <system>
              <children>
                <config>
                  <children>
                    <slideshow_options translate="title" module="cms">
                      <title>Carousel</title>
                    </slideshow_options>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>

    <layout>
      <updates>
        <slideshow>
          <file>recomiendo/slideshow.xml</file>
        </slideshow>
      </updates>
    </layout>
  </adminhtml>

  <global>
    <models>
      <slideshow>
        <class>Recomiendo_Cms_Model</class>
        <resourceModel>slideshow_mysql4</resourceModel>
      </slideshow>
      <slideshow_mysql4>
        <class>Recomiendo_Cms_Model_Mysql4</class>
        <entities>
          <slideshow>
            <table>ma2_slideshow</table>
          </slideshow>
        </entities>
      </slideshow_mysql4>
    </models>
    <resources>
      <cms_setup>
        <setup>
          <module>Recomiendo_Cms</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </cms_setup>
      <cms_write>
        <connection>
          <use>core_write</use>
        </connection>
      </cms_write>
      <cms_read>
        <connection>
          <use>core_read</use>
        </connection>
      </cms_read>
    </resources>
    <blocks>
      <recomiendo_cms>
        <class>Recomiendo_Cms_Block</class>
      </recomiendo_cms>
    </blocks>
    <helpers>
      <recomiendo_cms>
        <class>Recomiendo_Cms_Helper</class>
      </recomiendo_cms>
    </helpers>
  </global>
  <default>
    <slideshow_options>
      <general>
        <slide_height>300</slide_height>
        <display_title>1</display_title>
        <display_content>1</display_content>
        <interval>3000</interval>
        <transitionType>slide</transitionType>
        <transitionTime>1.5</transitionTime>
        <manTransitionTime>0.5</manTransitionTime>
        <navigation>1</navigation>
        <controls>1</controls>
        <pauseOnHover>0</pauseOnHover>
      </general>
    </slideshow_options>
  </default>
</config>
